* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    font-family:'Poppins', sans-serif;
}
.container {
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
}


.flexColumn{
    display: flex;
    flex-direction: column;
}
.flexRow {
    display: flex;
    flex-direction: row;
}
.red{
    color: red;
}