.content {

    height: 100vh;
    width: 50%;
    background-color:rgb(241 219 238);
    @include rp(765px) {
        height: 200vh;
        width: 100%;
    }
    &-h1{
        margin: 5px 0 5px 5px;
        @include rp(765px) {
            text-align: center;
        }
    }
    &-filter {
        height: auto;
        width: 100%;
    }
    
    &-area {
        height: 55px;
        padding: 10px;
        border-bottom: 1px dashed black;
        width: 100%;
        position: relative;
        &-time {
        position: absolute;
        font-size: 14px;
        color: #a7a7a7;
        right: 10em;
        width: 9em;
        bottom: 7px;

        }   
        &-task{
            width: 50%;
            font-size: 18px;
            position:absolute;
            bottom: 15px;
            left: 20px;
            word-wrap: break-word;
        }
        &-action  {
            position: absolute;
            right: 9px;
            bottom: 11px;
            width: 7em;
            span{
                margin:0 10px;
                cursor: pointer;
                svg{
                    width: 1.5em;
                    height: 1.5em;
                }
            }
            
        }
    }
}