.modal{
  padding: 16px 18px;
  &-delete-btn {
    margin-bottom: 20px;
    border: none;
    button {
      float: right;
      border: none;
      background: var(--background-w);
      cursor: pointer;
    }
    button:hover {
      color: rgb(104, 104, 104);
    }
  }
  &-input {
      .text{
      margin: 10px 0;
      height: 30px;
      border-radius: 4px;
      border: 1px solid #dcdfe6;
      font-size: 16px;
      line-height: 40px;
      padding: 0 15px;
      margin-right: 15px;
      width: 100%;
      color: #606266;
      cursor: text;
      }
      .date{
        margin: 10px 0;
        height: 30px;
        border-radius: 4px;
        border: 1px solid #dcdfe6;
        font-size: 16px;
        line-height: 40px;
        padding: 0 15px;
        margin-right: 15px;
        width: 100%;
        color: #606266;
        cursor: pointer;
      }
    }
  &-edit-btn{
    button{
      height: 30px;
      background-color: #303133;
      border-color: #303133;
      padding: 8px 20px;
      font-size: 14px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      color: white;
    }
    button:hover {
      background: #66b1ff;
      border-color: #66b1ff;
      color: white
    }
    
  }
}